body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.titleText {
  color: cadetblue;
  font-weight: bold;
}

.emploeeDetailsBadge {
  margin-left: 0px;
  margin-right: 0px;
}

.employeeDeatailsCard {
  width: 20%;
  border: 1px solid black;
}

.employeeDetailsBadge {
  font-size: 10px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.navBar {
  background: rgb(72, 88, 101);
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.employeeDetailsTab {
  object-fit: fill;
}

.largTitle {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

/* nav-item.nav-link.active {
  color: #fff;
  background-color: red;
} */

.myButton {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 80%;
  margin: 4px 2px;
}
